.main-table {
  text-align: center;
  width: 100%;
}

.main-table th {
  color: #5d5d5d;
}

.main-table tr {
  border-bottom: 1px solid #cdcdcd;
  color: #5f5f5f;
}

.main-table td, .main-table th {
  padding: 1rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination > div {
  padding: 1rem;
}
